{% extends 'base.html' %}

{% block body_block %}

<div class='col-sm-8 col-sm-offset-2'>

    {% if empty %}
    
        <h1 style="text-align:center;">Cart is empty</h1>
    
    {% else %}
    
        <table class='table'>
        <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Add</th>
            <th>Remove</th>
        </thead>
        <tfoot>
            <tr>
            <td></td>
            <td></td>
            <td>Total: {{ cart.total }}</td>
            <td><a href="#" class="btn btn-dark ">Checkout</a></td>
            </tr>
        </tfoot>
        
        {% for i in cart.cartitem_set.all %}
            <tr>
                <td>{{ i.item }}</td>
                <td>{{ i.item.price }}</td>
                <td>
                    <form method="POST" action="{% url 'qr:updateitem' i.item.id  %}">
                        {% csrf_token %}
                        <input type="number" name="qty" placeholder="{{i.quantity}}">
                        
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Update">
                    </form></td>
                <td><a class="btn btn-danger" href="{% url 'qr:removefromcart' i.id %}">Remove</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
    
{% endblock %}